{% extends 'main/layout.html' %}
{% block title %}Удаление резюме{% endblock %}

{% block content %}
    <div class="features">
        <h1>Удаление резюме</h1>
<!--Здесь будет храниться форма-->
<!--параметр action - отвечает за страницу, на которой проверяются данные-->
<!--если не вставлять, то по умолчанию текущая страница-->
        <form method="post">
<!--Без нижнего токена отправка резюме не произойдет!-->
            {% csrf_token %}
            <button class = "btn btn-success" type = "submit">Удалить резюме</button>
        </form>
<!--Не забудь связать форму с таблицей! (в файле forms.py)-->
    </div>

{% endblock %}